################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Monopoly
/.vs/Monopoly/v16/.suo
