################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Monopoly/bin
/Monopoly/obj
/.vs
/Client/bin
/Client/obj
/Server/bin
/Server/obj
/Shared/bin
/Shared/obj
/packages